* {
  margin: 0;
  padding: 0;
}

#calc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px auto;
}

.calculator {
  background-color: rgb(226, 223, 223);
  border: 2px solid black;
  border-radius: 10px;
  height: 425px;
  width: 310px;
}

#display {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 8px 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: xx-large;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin: 0 5px;
  margin-top: 50px;
}

.btn {
  background-color: rgb(249, 246, 246);
  font-family: 'Orbitron', sans-serif;
  font-size: large;
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 0;
  padding: 25px;
  flex: 1;
  cursor: pointer;
}

.operator {
  background-color: rgb(171, 216, 244);
}

.highlight {
  color: white;
  background-color: rgb(74, 128, 162);
}

#message {
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
  color: red;
}